<link
  rel="icon"
  href="https://raw.githubusercontent.com/neuxdotdev/cdn/main/Assets/favicon/favicon.ico"
  sizes="any"
/>
<link
  rel="icon"
  type="image/svg+xml"
  href="https://raw.githubusercontent.com/neuxdotdev/cdn/main/Assets/favicon/favicon.svg"
/>
<link
  rel="apple-touch-icon"
  href="https://raw.githubusercontent.com/neuxdotdev/cdn/main/Assets/favicon/apple-touch-icon.png"
/>
<link
  rel="manifest"
  href="https://raw.githubusercontent.com/neuxdotdev/cdn/main/Assets/favicon/site.webmanifest"
/>
<link
  rel="icon"
  type="image/png"
  sizes="96x96"
  href="https://raw.githubusercontent.com/neuxdotdev/cdn/main/Assets/favicon/favicon-96x96.png"
/>
