<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title | default: site.title }}</title>
    <link rel="icon" href="https://raw.githubusercontent.com/neuxdotdev/cdn/main/Assets/favicon/favicon.ico" sizes="any">
    <link rel="icon" type="image/svg+xml" href="https://raw.githubusercontent.com/neuxdotdev/cdn/main/Assets/favicon/favicon.svg">
    <link rel="apple-touch-icon" href="https://raw.githubusercontent.com/neuxdotdev/cdn/main/Assets/favicon/apple-touch-icon.png">
    <link rel="manifest" href="https://raw.githubusercontent.com/neuxdotdev/cdn/main/Assets/favicon/site.webmanifest">
  </head>

  <body>
    {{ content }}
  </body>
</html>
